.hero {
  background-color: #f0efeb;
}
.hero__container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  @media screen and (max-width: 767.98px) {
    flex-direction: column;
  }
}
.hero__content {
  max-width: 544px;
}
.hero__title {
  font-size: 60px;

  margin-bottom: 32px;

  @media screen and (max-width: 479.98px) {
    font-size: 40px;
    margin-bottom: 15px;
  }
}
.hero__text {
  font-size: 24px;

  margin-bottom: 26px;

  @media screen and (max-width: 479.98px) {
    font-size: 16px;
    margin-bottom: 15px;
  }
}
.hero__button {
  
}
.hero__image {
  width: 100%;
}
